@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-color: #0991a3;
    --main-color-admin: #0a454d;
    --secondairy-color-admin: #64bac7;
    --main-color-hover: #FECC32;
    --main-color-hover-admin: #5e4a06;
    --main-text-color: whitesmoke;
}

#app {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 1rem auto auto;
}

input {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--main-text-color);
}

/* NavBar - Not Logged In */

a {
    cursor: pointer;
}

nav {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    position: relative;
}


nav a.router-link-active {
    font-weight: bold;
    background-color: var(--main-color-hover)
}
.dashboard-links a.router-link-active {
    font-weight: bold;
    background-color: var(--main-color-hover-admin)


}

.dashboard-links-small a.router-link-active {
    font-weight: bold;
    background-color: var(--main-color-hover-admin)


}

nav a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
}

nav a:hover {
    background-color: var(--main-color-hover);
}

.nav-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 35px;
    z-index: 1;
}

.nav-links-left {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.nav-links-right {
    gap: 1rem;
    display: flex;
    align-items: center;
}

#hamburger {
    visibility: hidden;
    display: none;
}

#logo {
    width: 310px;
    user-select: none;
}

.dropdown-enter-active,
.dropdown-leave-active {
    .dropdown-content-link {
        opacity: 0;
    }
    transition: all 0.5s ease-in-out;
    height: 155px
}

.dropdown-enter-from,
.dropdown-leave-to {
    .dropdown-content-link {
        opacity: 0;
    }
    opacity: 0;
    height: 0px;
}

.profile-d {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.dropdownProfile-enter-active,
.dropdownProfile-leave-active {
    .dropdown-profile-content-link {
        opacity: 0;
    }
    transition: all 0.5s ease-in-out;
    height: 155px
}

.dropdownProfile-enter-from,
.dropdownProfile-leave-to {
    .dropdown-profile-content-link {
        opacity: 0;
    }
    opacity: 0;
    height: 0px;
}

.dropdown-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.profile {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#profile-name {
    margin: 0;
}

.caret {
    width: 10px;
    display: flex;
    fill: var(--main-text-color);
}

.dropdown-profile-content {
    position: absolute;
    padding: 38px 21px;
    display: flex;
    top: 77%;
    background-color: var(--main-color);
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    gap: 1rem;
}


.dropdown-content {
    position: absolute;
    padding: 38px 21px;
    display: flex;
    top: 77%;
    background-color: var(--main-color);
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    gap: 1rem;
}


@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1050px) {
    .nav-links {
        position: absolute;
        top: 99%;
        background-color: var(--main-color);
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 25px 0px;
    }
    .nav-links {
        position: absolute;
        top: 99%;
        background-color: var(--main-color);
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 25px 0px;
    }
    .nav-links-left {
        flex-direction: column;
        display: flex;
        align-items: stretch;
    }
    .nav-links-right {
        flex-direction: column;
        display: flex;
        align-items: stretch;
    }

    .profile-d {
        padding: 13px 0px;
        display: flex;
    }

    #hamburger {
        visibility: visible;
        display: block;
        fill: var(--main-text-color);
        width: 30px;
        padding: 8px 24px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 10%;
        transition: 0.5s;
        cursor: pointer;
    }
    #hamburger:hover {
        background-color: var(--main-color-hover);
    }

    nav {
        display: flex;
        justify-content: center;
    }

    .nav-enter-active,
    .nav-leave-active {
        .nav-links-left a {
            opacity: 0;
        }
        .nav-links-right a {
            opacity: 0;
        }
        .profile {
            opacity: 0;
        }
        .profile-d {
            opacity: 0;
        }
        transition: all 0.5s ease-in-out;
        transition-delay: 0.1s;
        height: 299px;
    }



    .dropdown-profile-content {
        position: relative;
        padding: 0;
        box-shadow: none;
        gap: 1rem;
    }

    .dropdown-profile {
        display: flex;
        flex-direction: column;
    }

    .nav-enter-from,
    .nav-leave-to {
        .nav-links-left a {
            opacity: 0;
        }
        .nav-links-right a {
            opacity: 0;
        }
        .profile {
            opacity: 0;
        }
        .profile-d {
            opacity: 0;
        }
        opacity: 0;
        height: 0px;
    }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 860px) {

}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {
    #hamburger {
        visibility: visible;
        fill: var(--main-text-color)

    }
}

@media only screen and (max-width: 520px) {
    #hamburger {
        width: 20px;
    }
    #logo {
        width: 280px
    }
}


/* NavBar - Admin */
.dashboard-container {
    display: flex;
}
#admin {
    background-color: var(--main-color-admin)
}

#admin .dropdown-profile-content {
    background-color: var(--main-color-admin)
}

#admin .dropdown-profile-content a:hover {
    background-color: var(--main-color-hover-admin)
}
#hamburger-admin {
    fill: var(--main-text-color);
    width: 30px;
    padding: 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10%;
    transition: 0.5s;
    cursor: pointer;
}

#hamburger-admin:hover {
    background-color: var(--main-color-hover-admin);
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 313px;
}

.small {
    width: 88px !important;
}


.profile-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondairy-color-admin);
    padding: 18px 101px;

}

.profile-dashboard-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondairy-color-admin);
    padding: 18px 101px;

}

.profile-photo-dashboard {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#profile-dashboard-role {
    margin: 0;
    opacity: 70%;
}

.dashboard-links {
    background-color: var(--main-color-admin);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 18px 45px;
    height: 69.6vh;
}

.dashboard-links-small {
    background-color: var(--main-color-admin);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 18px 14px;
    height: 85.2vh;
}

.dashboard-links a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10%;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
    fill: var(--main-text-color);
    gap: 1rem;
}

.dashboard-links-small a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10%;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
    fill: var(--main-text-color);
    gap: 1rem;
}

.dashboard-links a svg{
    width: 12px
}

.dashboard-links-small a svg{
    width: 12px
}


.dashboard-links a:hover {
    background-color: var(--main-color-hover-admin);
}

.dashboard-links-small a:hover {
    background-color: var(--main-color-hover-admin);
}

.nav-links-admin {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 35px;
}


.nav-links-left-admin {
    gap: 1rem;
    display: flex;
}

.nav-links-right-admin {
    gap: 1rem;
    display: flex;
}

.dashboard-big-enter-active,
.dashboard-big-leave-active {
    .profile-dashboard {
        background-color: var(--main-color-admin)
    }
    .profile-dashboard canvas, .profile-dashboard p {
        visibility: hidden;
    }
    .dashboard-links a {
        display: none
    }
    transition: all 0.5s;
    width: 313px;
}

.dashboard-big-enter-from,
.dashboard-big-leave-to {
    .profile-dashboard {
        background-color: var(--main-color-admin)
    }
    .profile-dashboard canvas, .profile-dashboard p {
        visibility: hidden;
    }
    .dashboard-links a {
        display: none
    }
    width: 88px;
    overflow: hidden;
}

.dashboard-small-enter-active,
.dashboard-small-leave-active {
    .dashboard-links-small {
        display: none
    }
    transition: all 0.5s;
    width: 88px

}

.dashboard-small-enter-from,
.dashboard-small-leave-to {
    .dashboard-links-small {
        display: none
    }
    width: 0px
}



@media only screen and (max-width: 860px) {
    .dashboard-big-enter-active,
    .dashboard-big-leave-active {
        /*.profile-dashboard {*/
        /*    background-color: var(--main-color-admin);*/
        /*}*/
        /*.dashboard-links a {*/
        /*    visibility: hidden;*/
        /*    display: none;*/
        /*}*/
        /*.profile-dashboard canvas, .profile-dashboard p {*/
        /*    visibility: hidden;*/
        /*    display: none;*/
        /*}*/
        transition: width 0.5s;
        width: 313px;
    }

    .dashboard-big-enter-from,
    .dashboard-big-leave-to {
        /*.dashboard-links a {*/
        /*    !*visibility: hidden;*!*/
        /*    !*display: none;*!*/
        /*}*/
        /*.profile-dashboard canvas, .profile-dashboard p {*/
        /*    visibility: hidden;*/
        /*    display: none;*/
        /*}*/
        /*.profile-dashboard {*/
        /*    background-color: var(--main-color-admin);*/
        /*}*/
        width: 0px;
        overflow: hidden;
    }
}



/* EventDetailsView */
.event-details-container {
    height: 100%;
    width: 100%;
}

.event-container {
    height: 600px;
    width: 650px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #ffffff;
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
}

.black-filter {
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.event-info {
    display: flex;
    flex-direction: row;
}

.edit-image {
    height: 320px;
    width: 260px;
}

.edit-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#file {
    display: none;
}

.edit-inputs input {
    padding: 14px 16px;
    width: 80%;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 10px;
}

.time-container {
    display: flex;
    flex-direction: row;
}

.time-container input {
    width: 32%;
}

#edit-event-summary {
    height: 240px;
    width: 97%;
    border-radius: 5px;
    margin-top: 10px;
    object-fit: cover;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
}

.edit-btn {
    padding: 12px 16px;
    background-color: #FECC32;
    border-radius: 5px;
    border: none;
    color: #ffffff;
}

.edit-btn:last-child {
    margin-right: 10px;
}

.edit-btn:hover {
    cursor: pointer;
    background-color: #E8B003;
}

@media (max-width: 1100px) {
    .event-container {
        height: 400px;
        width: 450px;
    }

    .edit-image {
        height: 250px;
        width: 180px;
    }

    .edit-inputs input {
        padding: 8px 12px;
        width: 85%;
        margin-left: 10px;
    }

    #edit-event-summary {
        height: 110px;
    }

    .edit-btn {
        padding: 8px 12px;
    }
}

/*  AdminEventView */
.event-detail{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: #000000;
    text-align: left;
}

.title {
    height: 30px;
    margin-bottom: 20px;
    text-align: left;
}

/* Events list */
.events-list {
    height: 100%;
}

.name-price {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.event-price {
    display: flex;
    align-content: center;;
    margin-top: 0;
}

.events-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
    padding: 5px;
}

.events-list li {
    width: 49%;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.event-image {
    width: 200px;
    height: 90%;
    margin: 15px 0 15px 16px;
    object-fit: cover;
}

.event-info-master {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.event-name {
    margin-left: 0;
    align-content: center;
}

.event-info-master h2 {
    margin-top: 0;
}

.event-info-master div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.event-info-master p {
    /*font-size: 20px;*/
    padding: 0 30px;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
}

/* Filters */
.filters {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 5px;
}

/* Searchbar filter*/
.search-filter {
    padding: 12px 20px 12px 40px;
    border: 1px solid #000000;
    /*font-size: 16px;*/
    width: 300px;
    border-radius: 5px;
}

/* Date filter */
.date-filter {
    border-radius: 5px;
    width: 200px;
    border: 1px solid black;
}

/* Create button */
.create-btn {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: #FECC32;
    color: #ffffff;
}

.create-btn:hover {
    background-color: #E8B003;
    cursor: pointer;
}

.events-list,
.events-list li {
    box-sizing: border-box;
}

@media (max-width: 1100px) {
    .events-list {
        max-height: 500px;
    }

    .container {
        height: min-content;
    }

    .events-list ul {
        display: block;
        max-height: inherit;
        gap: 10px;
    }

    .events-list li {
        margin-bottom: 15px;
        width: 95%;
        height: 200px;
    }

    .event-image {
        width: 130px;
        object-fit: fill;
        margin: auto 0 auto 10px;
    }

    .event-info-master h4 {
        margin: 0;
    }

    .search-filter {
        width: 150px;
    }
}

@media (max-width: 860px) {
    .search-filter {
        width: 150px;
    }

    .date-filter {
        width: 150px;
    }
}

/* Events */

.events-main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.events-main h1 {
    color: black;
}

.events-main button {
    background: var(--main-color-hover);
    color: var(--main-text-color);
    border-style: none;
    padding: 1rem 1.5rem;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: 0.5s;
}

.events-main input {
    padding: 0.5rem 1.5rem;
    width: 480px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
}

.events-main input:focus {
    outline: none;
}

.events-main-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.events-main-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.events {
    grid-template-columns: repeat(3, 470px);
    display: grid;
    gap: 3.5rem;
    margin-block: 3rem;
}

.event-left {
 height: 100%
}

.event-right {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
}

.event {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;

}

.event img {
    width: 180px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    aspect-ratio: 16/18;
}
.event-right-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.event-right-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    align-items: flex-end;
    height: max-content;
}

.event h1, .event h2, .event h3, .event p {
    color: black;
}

.event h1 {
    font-size: 25px;
    margin: 0;
}

.event h2 {
    font-size: 20px;
    margin: 0 0 1rem;
}

.event h3 {
    font-size: 18px;
    margin: 0;
}

.event p {
    margin: 0
}


.event a, .event button {
    background-color: var(--main-color-hover);
    color: var(--main-text-color);
    border-style: none;
    padding: 0.5rem 1.25rem;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.event a:hover, .event button:hover {
    background-color: var(--main-color-hover-admin);

}
.events-main button:hover {
    background-color: var(--main-color-hover-admin);
}


.event-right-main {
    display: flex;
}

.event-right-bottom {
    display: flex;
    justify-content: space-between;
}

.event-filter {
    position: absolute;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 2rem;
    z-index: 15;
    top: 78px;
    left: 111px;
    gap: 2rem;
    background-color: white;
}

.event-filter input {
    box-shadow: none;
    padding: 0;
    width: 23px;

}


.event-filter p {
    color: black
}

.filter-desc {
    display: flex;
    align-items: center;
}

.filter-asc {
    display: flex;
    align-items: center;
}

.event-filter input {

}

.filter-enter-active,
.filter-leave-active {
    .filter-asc {
        opacity: 0;
    }
    .filter-desc {
        opacity: 0;
    }
    transition: all 0.5s ease-in-out;
    height: 57px
}

.filter-enter-from,
.filter-leave-to {
    .filter-asc {
        opacity: 0;
    }
    .filter-desc {
        opacity: 0;
    }
    height: 0;
    opacity: 0;
}

@media only screen and (max-width: 1730px) {
    .events {
        grid-template-columns: repeat(2, 511px);
        display: grid;
        gap: 3.5rem;
        margin-block: 3rem;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1280px) {
    .events {
        grid-template-columns: repeat(2, 462px);
        display: grid;
        gap: 3.5rem;
        margin-block: 3rem;
        justify-content: space-around;
    }
    .events-main input {
        width: 400px;
    }
    .event-filter input {
        width: 23px;
    }
}

@media only screen and (max-width: 1024px) {
    .events {
        grid-template-columns: repeat(1, 570px);
        display: grid;
        margin-block: 3rem;
        justify-content: center;
    }
    .events-main input {
        width: 280px;
    }
    .event-filter input {
        width: 23px;
    }
}

@media only screen and (max-width: 860px) {
    .events {
        grid-template-columns: repeat(1, 570px);
        display: grid;
        margin-block: 3rem;
        justify-content: center;
    }
    .events-main input {
        width: 230px;
    }
    .events-main button{
        padding: 0.75rem 1.25rem;
    }
    .event-filter input {
        width: 23px;
    }


}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 1rem auto auto;
    }
    .events {
        grid-template-columns: repeat(1, 500px);
        display: grid;
        margin-block: 3rem;
        justify-content: center;
    }
    .events-main input {
        width: 150px;
        padding: 0.35rem 1.25rem;
    }
    .events-main {
        flex-wrap: wrap;
    }
    .events-main button{
        padding: 0.50rem 1.25rem;
    }
    .event h1 {
        font-size: 20px
    }

    .event h2 {
        font-size: 18px;
    }


    .event h3 {
        font-size: 16px;
        margin: 0;
        width: max-content;
    }

    .event p {
        margin: 0;
        font-size: 14px
    }
    .events-main input::placeholder {
        font-size: 10px
    }
    .event-filter input {
        width: 23px;
    }
    .event-filter {
        padding: 1rem;
    }
    .event-filter p {
        font-size: 14px
    }

    .filter-enter-active,
    .filter-leave-active {
        .filter-asc {
            opacity: 0;
        }
        .filter-desc {
            opacity: 0;
        }
        transition: all 0.5s ease-in-out;
        height: 49px
    }

}

@media only screen and (max-width: 640px) {
    .events {
        grid-template-columns: repeat(1, 450px);
        display: grid;
        margin-block: 3rem;
        justify-content: center;
    }
    .events-main button{
        padding: 0.5rem 0.5rem;
    }

    .filter-enter-active,
    .filter-leave-active {
        .filter-asc {
            opacity: 0;
        }
        .filter-desc {
            opacity: 0;
        }
        transition: all 0.5s ease-in-out;
        height: 49px
    }
    .filter-enter-from,
    .filter-leave-to {
        .filter-asc {
            opacity: 0;
        }
        .filter-desc {
            opacity: 0;
        }
        height: 0;
        opacity: 0;
    }
}

@media only screen and (max-width: 520px) {
    .events {
        grid-template-columns: repeat(1, 380px);
        display: grid;
        margin-block: 3rem;
        justify-content: center;
    }

    .events-main button{
        padding: 0.5rem 0.5rem;
        font-size: 14px;

    }
    .event h1 {
        font-size: 16px
    }

    .event h2 {
        font-size: 14px;
    }

    .event h3 {
        font-size: 12px;
        margin: 0;
        width: max-content;
    }

    .event p {
        margin: 0;
        font-size: 10px
    }
    .event a, .event button {
        padding: 0.35rem 0.75rem;
        font-size: 12px;
    }
    .events-main button{
        padding: 0.35rem 0.75rem;
        font-size: 12px
    }
    .event-filter p {
        font-size: 10px
    }
    .event-filter {
        padding: 0.75rem;
    }

    .filter-enter-active,
    .filter-leave-active {
        .filter-asc {
            opacity: 0;
        }
        .filter-desc {
            opacity: 0;
        }
        transition: all 0.5s ease-in-out;
        height: 36px
    }
    .filter-enter-from,
    .filter-leave-to {
        .filter-asc {
            opacity: 0;
        }
        .filter-desc {
            opacity: 0;
        }
        height: 0;
        opacity: 0;
    }
}

@media only screen and (max-width: 420px) {
    .events {
        grid-template-columns: repeat(1, 350px);
        display: grid;
        margin-block: 3rem;
        justify-content: center;
    }

    .events-main button{
        padding: 0.5rem 0.5rem;
        font-size: 12px;

    }
    .event h1 {
        font-size: 14px
    }

    .event h2 {
        font-size: 12px;
    }

    .event h3 {
        font-size: 10px;
        margin: 0;
        width: max-content;
    }

    .event p {
        margin: 0;
        font-size: 8px
    }
    .event a, .event button {
        padding: 0.35rem 0.75rem;
        font-size: 10px;
    }
    .events-main button{
        padding: 0.35rem 0.75rem;
        font-size: 10px
    }
    .event-filter p {
        font-size: 8px
    }
    .event-filter {
        padding: 0.5rem;
        top: 34px;
        left: 224px;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
    }
    .filter-enter-active,
    .filter-leave-active {
        .filter-asc {
            opacity: 0;
        }
        .filter-desc {
            opacity: 0;
        }
        transition: all 0.5s ease-in-out;
        height: 64px
    }
    .filter-enter-from,
    .filter-leave-to {
        .filter-asc {
            opacity: 0;
        }
        .filter-desc {
            opacity: 0;
        }
        height: 0;
        opacity: 0;
    }
}
/* Events View */

.event-main {

}

.detail-event {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
}

.detail-event-left {

}

.detail-event-left img {
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 16/18;
    width: 580px;
    height: 100%;
}

.detail-event-right {
    display: flex;
    justify-content: space-between;
}

.detail-event-right-left {
    display: flex;
    flex-direction: column;
}

.detail-event-right-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detail-event-right-main {
    gap: 8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


.event-main h1 {
    color: black;
    margin: 0
}

.event-main h3 {
    color: black;
    margin: 0
}

.event-main p {
    color: black;
    margin: 0
}

.detail-event-right-bottom p {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 1rem
}
.event-title {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.event-title button {
    background-color: var(--main-color-hover);
    color: var(--main-text-color);
    border-style: none;
    padding: 0.5rem 1.25rem;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.event-title button:hover {
    background-color: var(--main-color-hover-admin);
}
