/* AdminUsersView */
.title {
    max-width: 100%;
}

.select-usertype {
    width: 20%;
}

td, th {
    padding: 5px;
    font-size: 12px;
}

.users-list {
    margin-top: 20px;
    margin-left: 20px;
    overflow: auto;
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.banned {
    color: red;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th, .users-table td {
    padding: 4px;
    text-align: left;
}

.users-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.users-table th {
    background-color: var(--main-color);
    color: var(--main-text-color);
}

.admin-users button, .edit-user-btn button, .user-profile-container button, .buttons-view a{
    border: none;
    color: var(--main-text-color);
    padding: 0.5rem 1rem;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: 0.5s;
}

.buttons {
    gap: 5px;
    display: flex;
    justify-content: left;
}

.block-button, .edit-user-btn .cancel, .delete-button {
    background-color: red;
}

.block-button:hover, .edit-user-btn .cancel:hover, .delete-button:hover {
    background-color: #be0000;
}

.delete-button {
    padding: 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10%;
    transition: 0.5s;
}

.buttons {
    flex-direction: row;
    flex-wrap: wrap;
}
/* AdminUsersDetail */
.detail-container {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top:0;
}

.black {
    background-color: black;
    opacity: 0.5;
    width: inherit;
    height: inherit;
}

.user {
    background-color: var(--main-text-color);
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.user-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.user-info img {
    width: 300px;
    height: 300px;
}

.inputInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.inputInfo input, .edit-usertype, .select-usertype{
    padding: 0.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    border: none;
    margin-top: 10px
}

.inputInfo input, .edit-usertype {
    width: 80%;
}

.select-usertype {
    margin-top: 0;
}

.inputInfo input:first-child {
    margin-top: 0;
}

.inputInfo h2, .inputInfo h3, .inputInfo select, .inputInfo input{
    margin-left: 0;
}

.error-message {
    color: red;
}

.edit-user-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
    padding: 10px;
}

/* User profile page */
.user-profile-container {
    width: 100%;
}

.profile-banner {
    background-image: url("../images/profile-banner.webp");
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.profile-info {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    gap: 30px;
}

.profile-pic {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.info-left {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-right {
    position: relative;
    top: -70px;
    width: 100%;
}

.info-right h1{
    color: var(--main-text-color);
}

.unselected {
    background-color: var(--main-color);
}

.profile-edit-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-view, .events-view {
    background-color: var(--main-color);
}

.selected, .admin-edit, .admin-save, .admin-create, .back-button, .profile-edit-button, .save-button{
    background-color: var(--main-color-hover);
}

.selected:hover, .admin-edit:hover, .admin-save:hover, .admin-create:hover, .back-button:hover, .profile-edit-button:hover, .save-button:hover{
    background-color: var(--main-color-hover-admin);
}

.admin-view {
    background-color: var(--main-color);
}

.admin-view:hover {
    background-color: var(--main-color-admin);
}

.buttons-view {
    display: flex;
    gap: 1rem;
}

.info-view, .events-view {
    text-decoration: none;
}

.info-right-bottom {
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
}

.event-right-left h1 {
    color: black
}

.event {
    margin-bottom:1rem
}

.usertype-tag {
    padding: 0.5em 1em;
    background-color: var(--main-color);
    width: min-content;
    color: var(--main-text-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    border: none;
}

.userName {
    margin: 22px 0
}

#userNameInput {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    padding: 0.5em 1.5em;
    outline: none;
    border: none;
}

.edit-inputs {
    margin-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
    margin-bottom: 1rem;
}

.profile-input {
    display: flex;
    flex-direction: column;
}

.profile-input select, .profile-input input {
    border: none;
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--main-text-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.info-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

@media (max-width: 1250px) {
    .info-left {
        top: -75px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .info-grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 920px) {
    .info-right-bottom {
        max-height: 375px;
    }

    .edit-inputs {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 768px) {
    .profile-info {
        padding-left: 50px;
    }

    .info-left {
        top: -75px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .profile-banner {
        height: 160px;
    }
}

@media (max-width: 680px) {
    .profile-banner {
        height: 140px;
    }

    .info-left {
        top: -50px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    .edit-inputs {
        grid-template-columns: auto;
    }
}

@media (max-width: 550px) {
    .info-grid {
        grid-template-columns: auto;
    }
}

@media (max-width: 450px) {
    .profile-info {
        padding-left: 25px;
        gap: 20px;
    }

    .info-right .userName {
        font-size: 10px;
    }

    .info-right {
        top: -55px;
    }

    .info-right-bottom .usertype-tag {
        font-size: 10px;
    }
}
