@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-color: #0991a3;
    --main-color-admin: #0a454d;
    --secondairy-color-admin: #64bac7;
    --main-color-hover: #FECC32;
    --main-color-hover-admin: #5e4a06;
    --main-text-color: whitesmoke;
    --shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#app {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* Carousel
 */
.navigate {
    position: relative;
    display: flex;
    width: auto;
    bottom: 1px;
}
.left {
    margin-right: 80%;
    margin-left: 40px;
}

.toggle-page {
    display: flex;
    flex: 1;
    margin-top: 40%;
    bottom: 1px;
    margin-bottom: 10px;
}

i.fa-arrow-left {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:  var(--main-color);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: calc(50% + 155px);
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 15px;
}

span.carouselPagination {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  var(--main-color);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    color: var(--main-color-hover);
    transition: background-color 0.3s, color 0.3s;
}
span.carouselPagination.active {
    background-color: var(--main-color-hover);
    color: var(--main-text-color);
}
/* Footer */

.bottomFooter{
    background-color: var(--main-color);
    width: 100%
}
.topFooter {
    background-color: var(--main-color-hover);
    width: 100%
}
.topFooter p {
}

.yellow-text {
    color: var(--main-color-hover);
    display: block;
}
.blue-text {
    color: var(--main-color);
}
.white-text {
    color: var(--main-text-color);
    margin-left: 50px;
}

.white-text2 {
    color: var(--main-text-color);
}

.containerHomepage {
    position: relative;
    width: 80%;
    margin: 1rem auto auto;
}
.welcomeH1 {
    color: black;
    margin-bottom: 10px;
    margin-top: 70px;
}

.welcomeP {
    color: black;
    margin-bottom: 100px;
    margin-top: 30px;
}

.carousel {
    max-width: 80%;
    margin: auto;

}
.carouselHolder {
    position: relative;
    margin-top: 100px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 15px;

}
.slide {
    position: absolute;
    width: 100%;
    max-height: 100%;
    height: 550px;
    display: flex;
    left: 0;
}
.welcomeMsg h1,h2,h3 {
    margin-top: 1px;
}
.welcomeMsg button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.carouselImg {
    width: 65%;
    object-fit: cover;
    aspect-ratio: 21/9;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%)
}
.welcomeMsg {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}
.imageHolder img {
    aspect-ratio: 16/9;
    width: 50%;
}
.imageHolder {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.aboutUs {
    margin-top: 150px;
}
.pillar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.theme h1,h2,h3,h4,h5{
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.pillarText{
    width: 40%;
    margin-left: 30px;
}
.pillarText h1{
    margin-bottom: 30px;
}

.pillarContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pillarContainer button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
}
.welcomeMsg button:hover {
    transform: scale(1.1);
}
.pillarContainer button:hover {
    transform: scale(1.1);
}
.pillarImg .pillarImgContent {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    max-height: 100%; /* Ensure the image does not exceed the height of its container */
    object-fit: cover;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%)
}
.pillarImg {
    width: 70%; /* Adjust the width as needed */
    max-height: 100%;
    aspect-ratio: 16/9;
}

.themeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    margin-bottom: 80px;
    margin-top: 10px;
}

.theme button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 350px;

}

.theme button:hover {
    transform: scale(1.1); /* Add a scaling effect on hover */
}

.theme .themeImg {
    width: 50%;
    height: 40%;
    object-fit: fill;
    aspect-ratio: 16/9;
    margin-top: 10px; /* Add margin to separate image from text */
}

.theme h2 {
    color: var(--main-color);
    margin: 10px 20px 5px 20px; /* Adjust margins as needed */
}

.theme h5 {
    color: black;
    margin: 0 20px 20px 20px; /* Adjust margins as needed */
}

.container-footer {

}
.yellow-text, .blue-text {
    display: inline;
}

.topFooterChild {
    width: 80%;
    margin: auto;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.topFooterChild p {
margin: 0
}

.bottomFooterChild {
    width: 80%;
    margin: auto;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}