@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-color: #0991a3;
    --main-color-admin: #0a454d;
    --secondairy-color-admin: #64bac7;
    --main-color-hover: #FECC32;
    --main-color-hover-admin: #5e4a06;
    --main-text-color: whitesmoke;
    --shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#app {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* Carousel
 */
.navigate {
    position: relative;
    display: flex;
    width: auto;
    bottom: 1px;
}
.left {
    margin-right: 80%;
    margin-left: 40px;
}

.toggle-page {
    display: flex;
    flex: 1;
    margin-top: 40%;
    bottom: 1px;
    margin-bottom: 10px;
}

i.fa-arrow-left {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:  var(--main-color);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: calc(50% + 155px);
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 15px;
}

span.carouselPagination {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  var(--main-color);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    color: var(--main-color-hover);
    transition: background-color 0.3s, color 0.3s;
}
span.carouselPagination.active {
    background-color: var(--main-color-hover);
    color: var(--main-text-color);
}
/* Footer */

.container-footer {
    width: 100%;
    background-color: #1F93A5;
    color: whitesmoke;
}

.bottomFooter {
    align-items: center;
    justify-content: center;
    background-color: #1F93A5;
    padding: 15px;
}

.topFooter {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #FECC30;
    margin-top: 70px;
}

.topFooterLeft {
    text-align: left;
    margin-left: 5%;
    margin-top: 10px;
    width: 40%;
}

.topFooterRight {
    width: 60%;
    text-align: left;
    display: flex;
}

.columnFooter {
    flex: 1;
    margin-right: 40px; /* Aangepaste marge om kolommen te scheiden */
    margin-top: 10px;
    padding-bottom: 50px;
}

.topFooterRight p {
    margin: 5px 5px 5px 5px; /* Aangepaste marge voor tussenruimte tussen alinea's */
}
.footerInformation {
    margin-top: 15px;
}

.subscribeForm {
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
.form-flex {
    display: flex;
    width: 65%;
}
.flex-form {
    width: 100%;
}

.flex-form .errorMessage {
    font-size: 14px;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 7px;
}

.subscribeForm p {
    margin-bottom: 10px;
    font-size: 20px;
}

.subscribeForm form {
    display: flex;
}

.subscribeForm input {
    padding: 8px;
    margin-right: 10px;
    width: 25%;
    outline: none;
    box-shadow: var(--shadow);
    border: none
}

.subscribeForm input:focus-visible {
    outline: none;
}


.subscribeButton {
    padding: 15px;
    background-color: #1F93A5;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}

.subscribeButton:hover {
    background-color: var(--main-color-hover);
    box-shadow: var(--shadow);
}

.social-icons {
    display: flex;
}

.iconButtonHomepage {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.iconButtonHomepage i {
    margin-right: 10px;
    font-size: 1.5rem;
    background-color: #1F93A5;
    color: whitesmoke;
    border-radius: 50%;
    padding: 10px;
}

.iconButtonHomepage:hover {
    transform: scale(1.2);
    background-color: transparent;
}

.social-icons i {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    background-color: #1F93A5;
    color: var(--main-color-hover);
    border-radius: 50%;
    padding: 10px;
}
.footerButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 17px;
    text-align: left;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}
.footerButton:hover{
    transform: scale(1.08);
    border: none;
    background-color: transparent;
}

.yellow-text {
    color: var(--main-color-hover);
    display: block;
}
.blue-text {
    color: var(--main-color);
}
.blue-text-router {
    text-decoration: none;
    color: var(--main-color);
}
.white-text {
    color: var(--main-text-color);
}

.containerHomepage {
    position: relative;
    width: 80%;
    margin: 1rem auto auto;
}
.welcomeH1 {
    color: black;
    margin-bottom: 10px;
    margin-top: 70px;
}

.welcomeP {
    color: black;
    margin-bottom: 100px;
    margin-top: 30px;
}

.carousel {
    max-width: 80%;
    margin: auto;

}
.carouselHolder {
    position: relative;
    margin-top: 100px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 15px;

}
.slide {
    position: absolute;
    width: 100%;
    max-height: 100%;
    height: 550px;
    display: flex;
    left: 0;
}
.welcomeMsg h1,h2,h3 {
    margin-top: 1px;
}
.welcomeMsg button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.carouselImg {
    width: 65%;
    object-fit: cover;
    aspect-ratio: 21/9;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%)
}
.welcomeMsg {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}
.imageHolder img {
    aspect-ratio: 16/9;
    width: 50%;
}
.imageHolder {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.aboutUs {
    margin-top: 150px;
}
.pillar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.theme h1,h2,h3,h4,h5{
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;

}
.pillarText{
    width: 40%;
    margin-left: 30px;
}
.pillarText h1{
    margin-bottom: 30px;
}

.pillarContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pillarContainer button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
}
.welcomeMsg button:hover {
    transform: scale(1.1);
}
.pillarContainer button:hover {
    transform: scale(1.1);
}
.pillarImg .pillarImgContent {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%)
}
.pillarImg {
    width: 70%; /* Adjust the width as needed */
    max-height: 100%;
    aspect-ratio: 16/9;
}

.themeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    margin-bottom: 80px;
    margin-top: 10px;
}
.themeButton {
    border-radius: 20px;
    background-color: #fbfbfd;
}
.theme button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 350px;

}

.theme button:hover {
    transform: scale(1.1); /* Add a scaling effect on hover */
}

.theme .themeImg {
    width: 50%;
    height: 40%;
    object-fit: cover;
    aspect-ratio: 16/9;
    margin-top: 10px; /* Add margin to separate image from text */
}

.theme h2 {
    color: var(--main-color);
    margin: 10px 20px 5px 20px; /* Adjust margins as needed */
}

.theme h5 {
    color: black;
    margin: 0 20px 20px 20px; /* Adjust margins as needed */
}


.yellow-text, .blue-text {
    display: inline;
}
@media only screen and (max-width: 1100px) {
    .pagination {
        top: calc(50% + 135px);
    }
}
@media only screen and (max-width: 980px) {

    .themeButton{
        padding: 1px;
    }
    .pagination {
        top: calc(50% + 120px);
    }
    .welcomeMsg {
        font-size: 12px;
    }
    .theme .themeImg {
         width: 50%;
         height: 30%;
    }
}
@media only screen and (max-width: 768px) {

    .themeButton{
        padding: 1px;
    }
    .pagination {
        top: calc(50% + 90px);
    }
    .pillarButton {
        padding: 1px;
    }
    .themeH4{
        font-size: 14px;
    }.theme button {
    height: 500px;
         }
     .h3Theme {
         font-size: 14px;
     }
    .theme .themeImg {
        width: 80%;
        height: 30%;
    }.welcomeMsg {
         font-size: 10px;
     }.navigate i {
    display: none;
               }
    .carouselPagination.active {
        width: 12px;
        height: 12px;
      }
    span.carouselPagination {
           width: 12px;
           height: 12px;
       }
    .welcomeMsg button {
        font-size: 12px;
    }

}@media only screen and (max-width: 520px) {
    .themeButton{
    }
    .pagination {
        top: calc(50% + 60px);
    }
    .pillarButton {
        padding: 1px;
    }
    .themeH4{
        font-size: 7px;;
    }.theme button {
         height: 300px;
     }
    .h3Theme {
        font-size: 10px;

    }
    .theme .themeImg {
        width: 60%;
        height: 30%;
    }.welcomeMsg {
         font-size: 6px;
     } .welcomeMsg button {
        font-size: 10px;
                }
}

